*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{  
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0;
} 
#nav button{
    padding: 15px 30px;
    font-family: "Fira Sans", serif;
    font-size: large;
    font-weight: 800;
    font-style: normal;
    border-radius: 8px;
    color: green;
    border-color: green;
    background-color: white;
    border-width: 1px;
}
.banner{
    height: 70%;
    padding: 80px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 92px;
    border-radius: 10px;
}
.banner h2{
    font-size: 35px;
    opacity: 100%;
    color: #363030;
}
.banner h3{
    font-size: 90px;
}
.banner button{
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    height: 70px;
    width: 350px;
    border-radius: 5px;
    border: none;
    font-weight: 800;
    font-size: large;
}
.card-title{
    padding: 0px 100px;
    gap: 100px;
}
.card-title h2{
    padding: 10px 0px;
    font-size: 40px;
}
.card-title p{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 300;
}
.card-conatiner{
    width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 50px 100px;
}
.card1{
    padding: 10px;
    background-color: hsla(218, 56%, 76%, 0.747);
    border-radius: 16px;
    margin: 0px 20px 0 0;
}
.card1 h2{
    padding: 10px 0px 20px;
}
.card1 a{
    margin: 10px 0px 20px;
}
.card1 button{
    margin: 20px 0px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #5490F5;
    border: none;
}
.card2{
    padding: 10px;
    background-color: #C6E4D6;
    border-radius: 16px;
    margin: 0px 20px;

}
.card2 h2{
    padding: 10px 0px 20px;
}
.card2 a{
    margin: 10px 0px 20px;
}
.card2 button{
    margin: 20px 0px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #09A15C;
    border: none;
}
.card3{
    padding: 10px;
    background-color: #F7EBCF;
    border-radius: 16px;
    margin: 0px 0px 0 20px;

}
.card3 h2{
    padding: 10px 0px 20px;
}
.card3 a{
    margin: 10px 0px 20px;
}
.card3 button{
    margin: 20px 0px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #FFC239;
    border: none;
}
.news{
    padding: 0 100px;
    margin: 0px 0px 10px 0px;

}
.news p{
    margin: 30px 0px ;
}
.recent-news h2{
    font-size: 50px;
}
.bd-satt{
    height: 30%;
    width: 100%;
    display: flex;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
}
.image-part img{
    border-radius: 20px;
}
.text-part{
    padding: 30px;    
}
.text-part img{
    padding: 20px 0px;
}
.text-part h3{
    padding: 20px 0px 0 0;
}
.text-part button{
    padding: 15px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: green;
    border: none;

}
.bd-satt1{
    height: 30%;
    width: 100%;
    display: flex;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 20px 0px;
}
.image-part1 img{
    border-radius: 20px;
}
.text-part1{
    padding: 30px;    
}
.text-part1 img{
    padding: 20px 0px;
}
.text-part1 h3{
    padding: 20px 0px 0 0;
}
.text-part1 button{
    padding: 15px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: green;
    border: none;
}
.title-part{
    padding: 0 100px;
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
}
.title-part h2{
    margin: 30px 0px;
    font-size: 50px;
}
.title-part p{
    color: #363030;
}
.donation{
    width: 100%;
    padding: 100px;
    height:50%;

}
.crad-part{
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ccard1{
    border: none;
    padding: 40px 70px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 800;
    background-color: whitesmoke;

}
.ccard2{
    border: none;
    padding: 40px 70px;
    border-radius: 16px;
    background-color: #C6E4D6;
    font-size: 40px;
    font-weight: 800;
}
.ccard3{
    border: none;
    padding: 40px 70px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 800;
    background-color: whitesmoke;
}
.ccard4{
    border: none;
    padding: 40px 70px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 800;
    background-color: whitesmoke;
}
.input-part input{
    text-align: center;
    width: 100%;
    padding: 20px 30px;
    margin: 20px 50px ;
    background-color: whitesmoke;
    border: none;
    font-size: 28px;
}
.input-part{
    text-align: center;
    margin: 0 ;
}
.button-part{
    text-align: center;
}
.button-part button{
    padding: 17px 34px;
    background-color: #006A50;
    color: white;
    font-weight: 300;
    border: none;
    margin: 30px;
    border-radius: 8px;
}
.pillars{
    height: 40%;
    width: 100%;
}
.p-h2-part{
    padding: 0px 100px;
    font-size: 30px;

}
.p-card-part{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}
.p-card{
    padding: 30px;
    background-color: whitesmoke;
    margin: 0px 10px;
    border-radius: 10px;
}
.p-card h2{
    color: #363030;
}
.p-card img,h2,p{
    margin: 15px;
}
.subs-part{
    height: 60%;
    text-align: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 150px 50px;
    padding: 50px;
    border-radius: 20px;
}
.subs-title-part{
    font-size: 40px;
}
.subs-para-part{
    font-size: 20px;
    margin-top: 50px;
}
.subs-input-part input{
    padding: 20px 320px;
    text-align: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px 0px 0px 10px;
    border: none;
}
.subs-input-part button{
    padding: 20px 50px;
    background-color: #006A50;
    font-size: 15px;
    color: white;
    font-weight: 500;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.subs-input-part {
    margin: 50px;
}
.subs-end-part p{
    font-size: 20px;
}
.social-media-part {
    hight: 30%;
    width: 100%;
    text-align: center;
}
.social-media-part p{
    padding: 30px 100px;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0px 60px;
    border-bottom: 2px solid black;
}
.social-media-part img{
    margin: 0px 20px;
    size: 30px;
}
.qotation-box{
    height: 30%;
    width: 100%;
    padding: 10px 100px;  
    border-radius: 20px;
    margin: 0px 10px;
}
.qot-box{
    height: 100%;
    width: 100%;
    background-color: #ccc5c5;
    border-radius: 20px;
    margin: 0px 0px;
    border-radius: 20px;

}
#qot-para{
    height: 70%;
    width: 100%;
    font-size: 22px;
    padding: 0px 10px 10px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
}
#qot-name{
    height: 30%;
    width: 100%;
    padding: 0px 10px 30px;
}